@using System.Web.Configuration
@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Artikal pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Slika.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Slika.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Naziv_artikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Naziv_artikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Cena_artikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Cena_artikla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.ArtikalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
