@model Mihajlo_Potrcko.Models.Artikal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Slika.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slika.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivArtikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivArtikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaArtikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaArtikla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtikalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
