@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Slika> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SlikaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SlikaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SlikaID })
        </td>
    </tr>
}

</table>
