@model Mihajlo_Potrcko.Models.Poslovnica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poslovnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broj_telefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broj_telefona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoslovnicaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
