@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Models.Kupac

@{
    Potrcko db = new Potrcko();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kupac</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.JMBG, "JMBG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JMBG", new SelectList(db.Korisnik, "JMBG", "JMBG", Model.JMBG), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JMBG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NalogID, "Korisnicko ime", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NalogID", new SelectList(db.Nalog, "NalogID", "Username", Model.NalogID), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NalogID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sacuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}