@model Mihajlo_Potrcko.Models.Kupac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kupac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nalog.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nalog.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KupacID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
