@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Kupac> pageModel = Model.PageModel;

    // MORAS DA PROVERIS DA LI OVAJ NIZ MAKAR JEDAN ELEMENT INACE CE DA PUKNE DOLE NA FIRST()
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Korisnik.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Nalog.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nalog.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KupacID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KupacID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KupacID })
        </td>
    </tr>
}

</table>
