
@model Mihajlo_Potrcko.Models.MainView<Mihajlo_Potrcko.Models.Poslovnica>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poslovnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageModel.Partner.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageModel.Partner.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageModel.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageModel.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageModel.Broj_telefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageModel.Broj_telefona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageModel.PoslovnicaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
