@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer
@{
    ViewBag.Title = "Details";
    Poslovnica pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Poslovnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Partner.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Partner.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Broj_telefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Broj_telefona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageModel.PoslovnicaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
