@using Mihajlo_Potrcko.Models
@model MainView<IEnumerable<Poslovnica>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageModel.First().Partner.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageModel.First().Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageModel.First().Broj_telefona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Partner.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broj_telefona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PoslovnicaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PoslovnicaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PoslovnicaID })
        </td>
    </tr>
}

</table>
