@model Mihajlo_Potrcko.Models.Artikal_U_Poslovnici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikal_U_Poslovnici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artikal.Naziv_artikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikal.Naziv_artikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poslovnica.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poslovnica.Adresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
