@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Artikal_U_Poslovnici pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Artikal_U_Poslovnici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Artikal.Naziv_artikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Artikal.Naziv_artikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Poslovnica.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Poslovnica.Adresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idPoslovnice = pageModel.PoslovnicaID, idArtikla = pageModel.ArtikalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
