@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Artikal_U_Poslovnici> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Artikal.Naziv_artikla)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Poslovnica.Adresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artikal.Naziv_artikla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poslovnica.Adresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idPoslovnice = item.PoslovnicaID, idArtikla = item.ArtikalID }) |
            @Html.ActionLink("Details", "Details", new { idPoslovnice = item.PoslovnicaID, idArtikla = item.ArtikalID }) |
            @Html.ActionLink("Delete", "Delete", new { idPoslovnice = item.PoslovnicaID, idArtikla = item.ArtikalID })
        </td>
    </tr>
}

</table>
