@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Vozac pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Vozac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Nalog.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Nalog.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Zaposleni.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Zaposleni.JMBG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.VozacID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
