@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Models.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Vozac> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Nalog.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Zaposleni.JMBG)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nalog.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni.JMBG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VozacID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VozacID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VozacID })
        </td>
    </tr>
}

</table>
