@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Racun pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Kupac.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Kupac.JMBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Vozac.VozacID)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Vozac.VozacID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Datum_izdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Datum_izdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Adresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.RacunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
