@model Mihajlo_Potrcko.Models.Racun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kupac.FK_JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kupac.FK_JMBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vozac.VozacID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozac.VozacID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_izdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_izdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RacunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
