@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Nasa_banka pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Nasa_banka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Stanje_racuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Stanje_racuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Poslednja_uplata)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Poslednja_uplata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.Broj_racunaNB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
