@model Mihajlo_Potrcko.Models.Nasa_banka

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nasa_banka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stanje_racuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stanje_racuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poslednja_uplata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poslednja_uplata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Broj_racunaNB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
