@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Models.ViewDataContainer

@{
    ViewBag.Title = "Index";
    Nasa_banka pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stanje_racuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poslednja_uplata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stanje_racuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poslednja_uplata)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Broj_racunaNB }) |
            @Html.ActionLink("Details", "Details", new { id=item.Broj_racunaNB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Broj_racunaNB })
        </td>
    </tr>
}

</table>
