@model IEnumerable<Mihajlo_Potrcko.Models.Zaposleni>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vozac.FK_JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposleni2.FK_JMBG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vozac.FK_JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni2.FK_JMBG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZaposleniID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZaposleniID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZaposleniID })
        </td>
    </tr>
}

</table>
