@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Korisnik pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Nasa_banka.Broj_racunaNB)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Nasa_banka.Broj_racunaNB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.E_mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.JMBG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
