@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Models.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Korisnik> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Nasa_banka.Broj_racunaNB))
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().E_mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nasa_banka.Broj_racunaNB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JMBG }) |
            @Html.ActionLink("Details", "Details", new { id=item.JMBG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JMBG })
        </td>
    </tr>
}

</table>
