@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Reklama pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Reklama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Slika.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Slika.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Naziv_kupca)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Naziv_kupca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Datum_isteka)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Datum_isteka)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.ReklamaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
