@model Mihajlo_Potrcko.Models.Niz_Artikala_Racun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Niz_Artikala_Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artikal.Naziv_artikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikal.Naziv_artikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Racun.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Niz_artikla_racunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
