@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";
}

<body>
<h2>Admin panel</h2>
@Html.ActionLink("Artikal u poslovnici", "Index", "Artikal_U_Poslovnici")
@Html.ActionLink("Korisnik", "Index", "Korisnik")
@Html.ActionLink("Kupac", "Index", "Kupac")
@Html.ActionLink("Nalog", "Index", "Nalog")
@Html.ActionLink("Nasa banka", "Index", "Nasa_banka")
@Html.ActionLink("Slika", "Index", "Slika")
@Html.ActionLink("Zaposleni", "Index", "Zaposleni")

</body>


