@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Delete";
    Nalog pageModel = Model.PageModel;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Korisnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Slika.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Slika.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
