@model Mihajlo_Potrcko.Models.Zaposleni

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zaposleni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaposleni2.FK_JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposleni2.FK_JMBG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZaposleniID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
