@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Zaposleni pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Zaposleni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Korisnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.AdministratorOdZaposlenog.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.AdministratorOdZaposlenog.JMBG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.ZaposleniID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
