
@using Mihajlo_Potrcko.Models
@model KeyValuePair<int,Mihajlo_Potrcko.Models.KorpaContainer>?
@{
    Potrcko db = new Potrcko();
    KeyValuePair<int, Mihajlo_Potrcko.Models.KorpaContainer> pageModel = Model.Value;
    var artikalSelect = db.Artikal.ToDictionary(artikal => artikal, artikal => artikal.Naziv_artikla).ToList();
    var partnerSelect = db.Partner.ToDictionary(partner => partner, partner => partner.Naziv).ToList();
}


@using (Html.BeginForm(new {}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Korisnik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => pageModel.Value.IncInt.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => pageModel.Value.IncInt.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => pageModel.Value.IncInt.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sacuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
