@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Models.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Partner> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Slika.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Procenat_zarade)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Datum_pocetka_poslovanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Kategorija)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Slika.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procenat_zarade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_pocetka_poslovanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartnerID })
        </td>
    </tr>
}

</table>
