@model IEnumerable<Mihajlo_Potrcko.Models.Partner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slika.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procenat_zarade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_pocetka_poslovanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Slika.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procenat_zarade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_pocetka_poslovanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartnerID })
        </td>
    </tr>
}

</table>
