@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Details";
    Racuni_banke pageModel = Model.PageModel;
}

<h2>Details</h2>

<div>
    <h4>Racuni_banke</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => pageModel.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Korisnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Naziv_banke)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Naziv_banke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Vlasnik_racuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Vlasnik_racuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => pageModel.Datum_isteka)
        </dt>

        <dd>
            @Html.DisplayFor(model => pageModel.Datum_isteka)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = pageModel.Broj_racuna }) |
    @Html.ActionLink("Back to List", "Index")
</p>
