@using Mihajlo_Potrcko.Models
@model Mihajlo_Potrcko.Components.ViewDataContainer

@{
    ViewBag.Title = "Index";
    IEnumerable<Racuni_banke> pageModel = Model.PageModel;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Korisnik.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Naziv_banke)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Vlasnik_racuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => pageModel.First().Datum_isteka)
        </th>
        <th></th>
    </tr>

@foreach (var item in pageModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv_banke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vlasnik_racuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_isteka)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Broj_racuna }) |
            @Html.ActionLink("Details", "Details", new { id=item.Broj_racuna }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Broj_racuna })
        </td>
    </tr>
}

</table>
